@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.container {
    width: fit-content;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;

    border: 1px solid gray;
    box-shadow: 1px 0px 10px lightgray;

    background-color: rgb(240, 240, 240);
}

.keyboard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.keyboard__basic {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.5rem; 
}

.keyboard__advanced {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem; 
}

.keyboard__button {
    width: 50px;
    height: 40px;
    font-size: 15px;

    background-color: rgb(150, 150, 150);
    color: white;
    box-shadow: 1px 0px 10px gray;

    border: none;
    border-radius: 5px;
}

.keyboard__button--numeric {
    background-color: rgb(100, 100, 100);
}

.keyboard__button--blue {
    background-color: rgb(76, 76, 136);
}

.keyboard__button:hover {
    background-color: gray;
    cursor: pointer;
}

.keyboard__button:active {
    transform: scale(1.1, 1.1);
    transition: 0.2s;
}

.display {
    height: 150px;
    margin-bottom: 1rem;

    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding: 1rem;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
}

.display__group {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    right: 1rem;
    z-index: 1;
    max-width: 300px;
}

.display__input {
    width: fit-content;
    align-self: self-end;
    font-size: 25px;
    text-align: right;
    border-bottom: 1px solid gray;
    min-width: 1rem;
    overflow-x: clip;
    max-width: 300px;
}

.display__ans {
    text-align: right;
    overflow-x: scroll; 
}

.display__ans-history {
    position: absolute;
    left: 1rem;
    z-index: 2;
}

.display__history-img:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 0.1s;
}

.display__ans-list { 
    display: flex;
    gap: 5px;
    flex-direction: column;
    list-style: none;
    padding: 1rem;
    border-radius: 5px;
    background-color: lightgray;
    overflow-y: scroll;
    max-height: 100px;
    min-width: 200px;
    color: white;
    font-size: 20px;
}

.display__ans-list-entry {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}

.display__ans-list-entry:hover {
    border: 1px solid rgb(76, 76, 136);
    
    cursor: pointer;
}

.display__ans-list-entry:active {
   
}

@media (max-width: 800px) {
    .keyboard {
        flex-direction: column-reverse;
    }

    .keyboard__advanced {
        grid-template-columns: repeat(4, auto);
    }

    .display__group {
        max-width: 120px;
    }

    .display__input {
        max-width: 150px;
    }
}